iphone/TiCameraView.xcodeproj/project.xcworkspace/xcuserdata/noughts.xcuserdatad/
iphone/TiCameraView.xcodeproj/xcuserdata/noughts.xcuserdatad/

.DS_Store
iphone/npm-debug.log
iphone/CaptureDeviceModule.xcodeproj/project.xcworkspace/xcuserdata/noughts.xcuserdatad/UserInterfaceState.xcuserstate
